.task-board-content{
  flex-direction: row;
  gap: 50px;
}

.task-column {
  background-color: #8aaee0;
  border: #395886 1px solid;
  border-radius: 20px;
  padding: 10px 20px;
  width: 500px;
  //max-width: 300px;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 10px;
  .task-column-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    //.task-column-title {
    //  font-size: 1.5rem;
    //  font-weight: 600;
    //  color: #fff;
    //}
  }
}

.task-board{
  display: flex;
  flex-direction: column;
  gap: 50px;

  .task-board-addBtn{
    width: 100px;
    background-color: #8AAEE0;
    border: #395886 1px solid;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: #395886 2px 2px 10px;
    &:hover {
      background-color: #7f7f86;
    }
  }
}

@media (max-width: 768px) {
  .task-board-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .task-column {
    width: 300px;
  }
}