  .task-column-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    //.task-column-title {
    //  font-size: 1.5rem;
    //  font-weight: 600;
    //  color: #fff;
    //}
  }