.task-column {
  background-color: #9f9fa6;
  border-radius: 20px;
  padding: 10px 20px;
  width: 500px;
  //max-width: 500px;
  min-height: 50vh;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .task-column-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    //.task-column-title {
    //  font-size: 1.5rem;
    //  font-weight: 600;
    //  color: #fff;
    //}
    //.task-column-button {
    //  background-color: #fff;
    //  color: #0e0ed3;
    //  border: none;
    //  border-radius: 5px;
    //  padding: 5px 10px;
    //  font-size: 1rem;
    //  font-weight: 600;
    //  cursor: pointer;
    //  transition: background-color 0.3s;
    //  &:hover {
    //    background-color: #f0f0f0;
    //  }
    //}
  }
}