.task-modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .task-modal-title,
  .task-modal-desc,
  .task-modal-status,
  .task-modal-urgency {
    //margin-bottom: 0px;
    width: 100%;
  }
  .task-modal-button {
    margin-top: 30px;
  }
}